:root {
  --background-color: #eeeeee;
  --hightlight-color: #006c66;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

html {
  background-color: var(--background-color);
}

.pageContent {
  max-width: 90vw;
  margin: auto;
}

.titleBar, .titleContainer {
  margin-bottom: 3rem;
}

.titleBar {
  height: 8rem;
  border-bottom: 0.1rem solid var(--hightlight-color);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.titleBar > * {
  flex-basis: 0;
  flex-grow: 0;
  flex-shrink: 1;
}

#titleImg {
  /* height: 100%;
  width: 100%; */
  /* background-image: url('../ressources/misc/fhi_logo.png'); */
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  flex-grow: 1;
  flex-shrink: 0;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--hightlight-color);
}

.titleContainer > h1 {
  font-weight: bold;
}

.previewContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}
