* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto' sans-serif;
  font-weight: 400;
}

html {
  background-color: #eeeeee;
}

h1 {
  font-size: 50px;
}

#discription {
  padding-top: 1%;
}

h3 {
  color: black;
  padding-top: 1%;
}

.pageContent {
  max-width: 90vw;
  margin: auto;
}

.singlePageContent {
  max-width: 95vw;
  margin: auto;
}

.titleBar,
.titleContainer,
.singleTitleContainer {
  margin-bottom: 3rem;
}

.titleBar {
  height: 8rem;
  border-bottom: 0.13rem solid #006c66;
  background-image: url('../ressources/misc/fhi_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: #006c66;
}

.singleTitleContainer {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  color: #006c66;
}

.titleContainer > h1 {
  font-weight: bold;
}

.previewContainer {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: 1.5rem;
}

.singlePreviewContainer {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  gap: 1.5rem;
}

.graphContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /*  height: 100px; */
}

canvas {
  /* position: fixed; */
  top: 0;
  left: 0;

}

#resetViewButton {
  position: absolute;
  z-index: 99;
  top: 2%;
  right: 2%;
  padding: 10px;
  cursor: pointer;
  padding: 20px 20px;
  cursor: pointer;
  background-color: #006c66;
  border: none;
  border-radius: 10px;
  color: white;
}

#webglmessage {
  position: absolute;
  z-index: 99;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}

.sliderContainer {
  width: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* #plotTOF{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  height: 4%;
}

#plotCoverage{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

} */

@media only screen and (max-width: 800px) {
  body {
    background-color: lightblue;
  }
}
